#Configuration file for TPA Scintillation pipeline

#User
user = Rmain

#Path to the directories for each pulsar
input_path = /fred/oz005/users/aparthas/reprocessing_MK/TPA

#Path where the data products are stored
#output_path = /fred/oz005/users/rmain/TPA/Scintillation/Processed_Scintillation_Data
output_path = /fred/oz005/users/aparthas/TPA_Scintillation


#Slurm stuff
ram = 64g
tasks = 1
time = 03:00:00
mail = adityapartha3112@gmail.com

